﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="contact.aspx.cs" Inherits="SharonKleanSite.Site.contact" %>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
 <link rel="icon" type="image/png" href="images/sharonfavicon.png"/>
	<title>Sharonklean Laundry & Dry Cleaning</title>
	<link href="external/bootstrap/bootstrap.min.css" rel="stylesheet"/>
	<link href="fonts/style.css" rel="stylesheet"/>
	<link href="external/animate/animate.min.css" rel="stylesheet"/>
	<link href="external/slick/slick.css" rel="stylesheet"/>
	<link href="external/slick/slick-theme.css" rel="stylesheet"/>
	<link href="css/style.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'/>
	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css"/>
	<!-- REVOLUTION LAYERS STYLES -->
	<link rel="stylesheet" type="text/css" href="revolution/css/layers.css"/>
	<!-- REVOLUTION NAVIGATION STYLES -->
	<link rel="stylesheet" type="text/css" href="revolution/css/navigation.css"/>
<style>
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
</style>
</head>

<body>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
	<div class="loader">
		<div class="loader-wrapper">
			<div class="bubble1"></div>
			<div class="bubble2"></div>
		</div>
	</div>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-1 col-lg-3 visible-sm visible-xs">
					<!-- box-telephone -->
					<div class="box-telephone ">
						<address>
						  <span class="icon icon-telephone"></span>08028533255
						</address>
						<div class="time hidden-sm hidden-xs">Mon.-Fri. 7:00 AM to 7:00 PM</div>
					</div>
					<!-- /box-telephone -->
				</div>
				<div class="col-sm-12 col-md-5 col-lg-6">
					<!-- logo -->
				<a class="logo" title="Laundry & Dry Cleaning" href="index.html"><img class="img-responsive" src="images/sharonlogo.png" alt="Laundry & Dry Cleaning"></a>
					<!-- /logo -->
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3 hidden-sm hidden-xs">
					<!-- box-location -->
					<address class="box-location">
					4, Ayinde Sanni, Oregun, Ikeja, Lagos.
					</address>
					<!-- /box-location -->
				</div>
				<div class="col-sm-12 col-md-4 col-lg-3 hidden-sm hidden-xs">
					<!-- box-telephone -->
					<div class="box-telephone ">
						<address>
                  		0806-000-1121
               			</address>
						<div class="time hidden-sm">Mon.-Fri. 7:00 AM to 7:00 PM</div>
					</div>
					<!-- /box-telephone -->
				</div>
			</div>
		</div>
		<div class="box-nav">
			<div class="container">
				<div class="row">
					<div class="center">
						<a id="touch-menu" class="mobile-menu" href="#">
							<span class="icon-menu-button-of-three-horizontal-lines"></span>
						</a>
						<nav class="top-menu">
							<ul class="menu">
								<li class="active"><li><a href="http://sharonklean.com">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li>
									<a href="services.html">Services</a>
									<ul>
										<li><a href="#">Laundry Service</a></li>
										<li><a href="#">Dry Cleaning</a></li>
										<li><a href="#">Stain removal</a></li>
										<li><a href="#">Corporate trainings</a></li>
										<li><a href="#">Plants Set-up</a></li>
										<li><a href="#">Sales & Supply</a></li>
										<li><a href="#">Linen, Upholstery, & Area Rug Cleaning</a></li>
									</ul>
								</li>
								<!--<li><a href="price.html">Prices</a></li>
								<li>
									<a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Classic</a></li>
										<li><a href="blog-card.html">Blog Post Card</a></li>
										<li><a href="blog-single.html">Blog Single post</a></li>
									</ul>
								</li>-->
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="contact.aspx">Contacts</a></li>
                               <li><a href="http://app.sharonklean.com" target="_blank">Admin</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- breadcrumb -->
	<div class="breadcrumb">
		<div class="container">
			<div class="row">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li>Contact Us</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /breadcrumb  -->
	<div class="page-content">
		<div class="container">
			<h1 class="title-underline">Contact Us</h1>
			<div class="row">
				<div class="col-sm-5 col-md-4 col-lg-4">
					<div class="contact-box-01">
						<h6 class="title">Head Office:</h6> 4, Ayinde Sanni, 
						<br/> Oregun, Ikeja, Lagos.<br />0806-000-1121, 0701-812-2842.
					</div>
				
                     <div> </div>
    	           <div class="contact-box-01">
						<h6 class="title">Ibadan Office:</h6> 20A, Are Avenue, Bodija,
						<br/>Opposite Foodco,Ibadan, Oyo state.<br />0701-799-1799.
					</div>
                     <div> </div>
                    	<div class="contact-box-01">
						<h6 class="title">Oluyole Office:</h6> Sharonklean Dry Cleaner, 
						<br/> Oluyole extension.<br />	0701-812-2842, 0803-721-3042.
					</div>
				
					<div class="contact-box-03">
						<h6 class="title">Have any questions?</h6>
						<a href="mailto:noreply@sharonklean.com">info@sharonklean.com</a>
						<br>
						<a href="www.sharonklean.com">www.sharonklean.com</a>
					</div>
					<ul class="social-icon-content">
						<li>
							<a href="#" class="icon-facebook-logo"></a>
						</li>
						<li>
							<a href="#" class="icon-twitter-logo-silhouette"></a>
						</li>
						<li>
							<a href="#" class="icon-instagram-social-network-logo-of-photo-camera"></a>
						</li>
						<li>
							<a href="#" class="icon-linkedin-logo"></a>
						</li>
					</ul>
				</div>
				<div class="col-sm-7 col-md-8 col-lg-7 col-lg-offset-1">
					<!-- form-block -->
					<form id="contactform" class="boxed-form" name="contactform" runat="server" method="post" novalidate="novalidate">
					<%--	<div id="success">
							<p>Your message was sent successfully, We will be in touch as soon</p>
						</div>--%>
                        <asp:Label runat="server" ID="success"> </asp:Label>
                          <asp:Label runat="server" ID="error"> </asp:Label>
						<%--<div id="error">
							<p>Something went wrong, try refreshing and submitting the form again.</p>
						</div>--%>
						<div class="row">
							<div class="col-md-12 col-lg-6">
								<div class="form-group">
									<label class="control-label">Name</label>
									<input class="form-control" type="text" value="" name="name">
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="form-group">
									<label class="control-label">Phone</label>
									<input class="form-control" type="text" value="" name="phone">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">E-mail</label>
							<input class="form-control" type="text" value="" name="email">
						</div>
						<div class="form-group">
							<label class="control-label">Message</label>
							<textarea class="form-control" rows="10" name="message"></textarea>
						</div>
						<asp:Button class="btn btn-default btn-top" type="submit" id="submit" runat="server" Text="SEND MESSAGE" OnClick="submit_Click" />
                        <%--<button class="btn btn-default btn-top" type="submit" id="submit">SEND MESSAGE</button>--%>
					</form>
                   <!-- <form id="contact-form" method="post" action="contact.php" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_name">Firstname *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_lastname">Lastname *</label>
                                        <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_email">Email *</label>
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="form_phone">Phone</label>
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                                </div>
                            </div>
                        </div>

                    </form>-->
				</div>
			</div>
		</div>
		<div class="container-fluid content">
		<!--	<div id="map"></div> -->
		</div>
	</div>
    	<div class="container-fluid content">
			<div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507313.2028510497!2d3.3640661!3d6.5990581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b924600068451%3A0x34626384812326b7!2sSharonKlean+Dry+Cleaners+Limited!5e0!3m2!1sen!2sng!4v1494001253847" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
            </div>
		</div>
	<footer class="offset-top0">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a class="logo-footer" href="index.html"><img src="images/sharonlogo_footer.png" alt=""/></a>
				</div>
				<div class="col-md-9">
					<div class="row footer-separator">
						<div class="col-md-8 col-lg-9">
							<!-- promo  -->
							<div class="promo-footer">
								<span class="text-1">Get Started Today!</span>
								<span class="text-2">0806-000-1121</span>
							</div>
							<!-- /promo -->
						</div>
						<div class="col-md-4 col-lg-3">
							<!-- social-icon -->
							<!--<ul class="social-icon-footer">
								<li>
									<a href="#" class="icon-facebook-logo"></a>
								</li>
								<li>
									<a href="#" class="icon-twitter-logo-silhouette"></a>
								</li>
								<li>
									<a href="#" class="icon-instagram-social-network-logo-of-photo-camera"></a>
								</li>
							</ul>-->
							<!-- /social-icon -->
                        <div class="fb-page" data-href="https://web.facebook.com/Sharonklean-Drycleaners-121255287900499" data-tabs="timeline" data-width="300" data-height="120" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://web.facebook.com/Sharonklean-Drycleaners-121255287900499">Sharonklean </a></blockquote></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2 hidden-sm hidden-xs  pull-right">
					<!-- footer-link -->
					<ul class="footer-link">
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
					<!-- /footer-link -->
				</div>
				<div class="col-xs-12 col-md-4 col-lg-4 pull-right">
					<!-- time-table -->
					<div class="time-table">
						Mon-Fri: 7:00am-7:00pm
						<br> Sat-Sun: 10:00am-5:00pm
					</div>
					<!-- /time-table -->
				</div>
				<div class="col-xs-12 col-md-3 col-lg-3 pull-right">
					<!-- box-location -->
					<div class="box-location">
						4, Ayinde Sanni, Oregun, Ikeja, Lagos.
					</div>
					<!-- /box-location -->
				</div>
				<div class="col-xs-12 col-md-3 col-lg-3">
					<!-- copyright-box -->
					<div class="copyright-box">
						&copy; 2017 Sharonklean Laundry &amp; Dry Cleaning. All Rights Reserved.
					</div>
					<!-- /copyright-box -->
				</div>
				<div class="col-xs-12 col-md-3 col-lg-2 visible-sm visible-xs pull-right">
					<!-- footer-link -->
					<ul class="footer-link">
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
					<!-- /footer-link -->
				</div>
			</div>
		</div>
		<div class="bubbleContainer"></div>
	</footer>

	<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
	<![endif]-->
    <script src="js/validator.js"></script>
    <script src="js/contact.js"></script>
	<script src="external/jquery/jquery.min.js"></script>
	<script src="external/bootstrap/bootstrap.min.js"></script>
	<script src="external/slick/slick.min.js"></script>
	<script src="external/waypoints/jquery.waypoints.min.js"></script>
	<script src="external/countto/jquery.countTo.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBesw263ius7OmFcr2A9w4FO7uK5xhQbgY"></script>
	<script src="js/main.js"></script>
	<script src="external/form/jquery.form.js"></script>
	<script src="external/form/jquery.validate.min.js"></script>
	<script type="text/javascript">
		// validate contact form
    	$(function () {
			$('#contactform').validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					email: {
						required: true,
						email: true
					},
                    number: {
						required: true,
						number: true
					}
				},
				messages: {
					name: {
						required: "Please enter your name",
						minlength: "Your name must consist of at least 2 characters"
					},
					email: {
						required: "Please enter your email"
					},
                    number: {
						required: "Please enter your phone number"
					}
				},
				//submitHandler: function (form) {
				//	$(form).ajaxSubmit({
				//		type: "POST",
				//		data: $(form).serialize(),
				//		url: "contact-form.php",
				//		success: function () {
				//			$('#success').fadeIn();
				//			$('#contactform').each(function () {
				//				this.reset();
				//			});
				//		},
				//		error: function () {
				//			$('#contactform').fadeTo("slow", 0, function () {
				//				$('#error').fadeIn();
				//			});
				//		}
				//	});
				//}
			});
		});
	</script>

</body>

</html>